.Container {
    display: flex;
    width: 1080px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
}

.Item {
    display: flex;
    width: calc(100% / 3 - 10px);
    background-color: #fff;
    padding: 1rem 2.5px;
    color: black;
    text-decoration: none;
    justify-content: center;
    transition: all .25s ease;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
  
}

.Item:hover{
    background-color: rgb(209, 209, 209);
}

.Header {
    height: 100px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.HeaderContainer{
    width: 1080px;
    margin: 0 auto;
    display: flex;
}

.Intro{
    display: flex;
    flex-direction: column;
    width: 1080px;
    margin: 0 auto;
    text-align: left;
    padding: 1rem 0;
}

.Intro p{
    color: black;
    margin: 0;
}

.Intro h1{
    font-size: 18px;
    margin: 0;
}